<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Выгул собак</h1>
    <h3>Наши собаки</h3>
    {% if dogs %}
        <ul>
            {% for dog in dogs %}
            <li>имя: {{dog.name}}, порода: {{dog.breed}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>нет информации о собаках</p>
    {% endif %}

    <h3>Информация о приюте</h3>
    <p>бла бла бла</p>
    {% if user.is_authenticated %}
        <p>user: {{user.username}}</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Выход">
        </form>
        <a href="{% url 'profile' %}">профиль</a>
        <a href="{% url 'dogs_list' %}">собаки</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn">Вход в аккаунт</a>
    {% endif %}
</body>
</html>